/* Theme color */
$background-color-primary: #121212;//#171717
$background-color-secondary:#181818;//#1b1b1b
$color-primary: #9c4ccb;

$color-font-primary: #ffffff;
$color-font-secondary: #b3b3b3;

$left-panel-width: 250px;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

#wrapper  {
    position: fixed;
    height: 100%;
    width: 100%;
    left: $left-panel-width;
    padding-right: $left-panel-width;
    background-color: $background-color-secondary; 
}